<%- include ('header.ejs') %>

<ol>
  <li>
    <h1><%= topC.name %></h1>
    <p><%= topC.page_description %></p>
    <br /><br />
    <% if (topC.image) { %>
    <div>
      <img src="/images/<%= topC.image %>" />
    </div>
    <% } %>
    <div>
      <ol>
        <% _.each(topC.categories, function(subC) { %>
        <li>
          <h2 class="subCatTitle"><%= subC.name %></h2>
          <% if(subC.image){ %>
          <div class="subCatImg">
            <img src="/images/<%= subC.image %>" class="rounded float-left" />
          </div>
          <% } %>
          <p class="subCatDesc"><%= subC.page_description %></p>
          <button class="btnViewProducts">
            <a href="/subCat/<%= subC.id %>">View <%= subC.name %></a>
          </button>
          <hr />
        </li>
        <% }); %>
      </ol>
    </div>
  </li>
</ol>

<%- include ('footer.ejs') %>
