<%- include ('header.ejs') %>

<div class="bodyContainer">
  <ol>
    <div class="subCatContainer">
      <h1><%= productsOfCat.primary_category_id %></h1>
      <% _.each(productsOfCat, function(product) { %>
      <li>
        <div class="subCatProducts">
          <div>
            <!-- Edit This! -->
            <img
              src="/images/<%= product.image_groups[0].images[0].link %>"
              class="rounded float-left"
            />
            <!--  -->
            <br />
          </div>
          <h4 class="float-left"><%= product.name %></h4>
          <%= product.price %> <%= product.currency %>
          <button><a href="/product/<%= product.id %>">More Info</a></button>
        </div>
      </li>
      <% }); %>
    </div>
  </ol>
</div>

<%- include ('footer.ejs') %>
