<%- include ('header.ejs') %>

<div class="bodyContainer">
  <ol>
    <li>
      <h4><%= product.page_title %></h4>
      <p><%= product.page_description %></p>

      <div>
        <img src="/images/<%= product.image_groups[0].images[0].link %>" />
      </div>

      <button>Buy Now</button>
      <p>Price: <%= product.price %> <%= product.currency %></p>
    </li>
  </ol>
</div>

<%- include ('footer.ejs') %>
