<%- include ('header.ejs') %>

<div class="bodyContainer">
  <h1><%= title %></h1>
  <ol>
    <div class="subCatContainer">
      <% _.each(productsOfCat, function(product) { %>
      <li>
        <div class="subCatProducts">
          <h4><%= product.name %></h4>

          <div>
            <!-- Edit This! -->
            <img src="/images/<%= product.image_groups[0].images[0].link %>" />
            <!--  -->
            <p><%= product.page_description %></p>
            Price: <%= product.price %> <%= product.currency %>
            <button><a href="/product/<%= product.id %>">More Info</a></button>
          </div>
        </div>
      </li>
      <% }); %>
    </div>
  </ol>
</div>

<%- include ('footer.ejs') %>
